
*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(to right, rgb(18, 168, 205), rgb(41, 202, 41));

}


.Between{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    width: 11rem;
    margin: 0 auto;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}


.grow {
    color: purple;
}

.number {
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    text-align: center;
    padding: 15px;
    width: 15rem;
    margin: 15px auto; /* Center horizontally */
}



.correctNumber{
    outline:  2px solid green;
    text-align: center;
    padding: 15px;
    width: 20%;
    margin: 15px;
    color: green;

}


.btn-again{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 25px;
    width: 8rem;
    color: red;
    margin: 23px auto;

}

.right {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically in the flex container */

}

.left {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.check {
    color: black;
    padding: 10px;
    margin-left: 8px;
}